In [1]:
import pandas as pd
import requests

In [2]:
# Собираем список доступных для сбора активов

url = 'http://api.coincap.io/v2/assets'
headers = {"Authorization": "Bearer a570cb86-005b-4182-a9ca-983bde090234"}
response = requests.get(url, headers=headers)
if response.status_code == 200:
    data = response.json()
else:
    print("Ошибка при получении данных:", response.status_code)

In [3]:
# Список доступных активов

df_values = pd.json_normalize(data, 'data')
values = list(df_values.id.values)

In [4]:
# Исторические данные по каждому активу собираем в список для дальнейшего объединения

dfs = []

for v in values:
    url = f'http://api.coincap.io/v2/assets/{v}/history?interval=d1'
    headers = {"Authorization": "Bearer a570cb86-005b-4182-a9ca-983bde090234"}
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        data = response.json()
        df = pd.json_normalize(data, 'data')
        df = df.rename(columns={'priceUsd': 'price'}).drop(columns=['time'])
        df['currency'] = v
        dfs.append(df)
    else:
        print("Ошибка при получении данных:", response.status_code)

In [5]:
# Объединение данных в единый DataFrame

df = pd.concat(dfs)

In [6]:
# Преобразование типов данных и вынесение столбца дат в начало для лучшей наглядности

col_date = df.pop('date')
df.insert(0,'date',col_date)
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date
df.price = df.price.astype('float').round(3)
df.head()

         date      price currency
0  2022-05-18  29600.606  bitcoin
1  2022-05-19  29545.185  bitcoin
2  2022-05-20  29799.685  bitcoin
3  2022-05-21  29340.183  bitcoin
4  2022-05-22  29787.393  bitcoin

In [7]:
# Сохранение данных для дальнейшего использования

df.to_csv('currencies.csv',index=False)